body {
    background-color: #ffffff;
    background-image:url("~/Content/Images/download.jpg")
}

.header {
    background-color: #eacaca;
}
.header A{
    color:#ff0000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.header A:hover{
    font-weight: bold;
    text-decoration: underline;
}
.footer{
     background-color: #eacaca;
}
.content{
    background-color: #fef2ae;
}


